<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resume</title>
</head>
<body>
    <form  class="newsletter_form" action = "index.html" method = "POST">
        {% csrf_token %}
        <input type="do" placeholder="Enter your mail" name = "e_mail">
        <button type="submit">Subscribe</button>
    </form>
    </form>
</body>
</html>